<h4 class="block text-lightBlack text-base font-bold sm-mobile:text-xl pb-6 last:pb-0">
    <span class="line-clamp-2">{{heading_comment}}</span>
</h4>
<div class="alert-target"></div>
<div class="flex flex-col flex-1">
	<label for="input-comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ entry_comment }}</label>
	<textarea id="input-comment" name="comment" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
		placeholder="{{ entry_comment }}">{{comment}}</textarea>
</div>
